# Backend Détour
GRAPHHOPPER_URL=http://127.0.0.1:8989

# Les données peuvent rester dans ./data ou être déplacées sur un autre disque.
# ROUTECO_DATA_DIR=/chemin/vers/routeco-data
# ROUTECO_BAN_DB=/run/media/utilisateur/OS/Users/Utilisateur/Documents/routeco-data/ban/ban.sqlite
# ROUTECO_TOLLS_DIR=/chemin/vers/routeco-data/tolls
# ROUTECO_REPORTS_DIR=/chemin/vers/routeco-data/reports

# Gestion locale
GRAPHHOPPER_RAM=8g

# Futur fond cartographique auto-hébergé MapLibre/PMTiles.
# ROUTECO_MAP_STYLE_URL=http://127.0.0.1:8080/styles/routeco/style.json
